@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

#mobile-footer-container {
  display: none;
}
/* - - - body, all - - - */
h1 {
  font-size: 250px;
  font-family: Helvetica, sans-sarif;
}
h2 {
  font-size: 100px;
  font-family: Helvetica, sans-sarif;
}
h3 {
  font-size: 50px;
  font-family: "Open Sans", Helvetica;
}
h4 {
  font-size: 20px;
  font-family: "Open Sans", Helvetica;
  text-align: center;
  z-index: 1;
}
p {
  font-size: 16pt;
  font-family: "Open Sans", Helvetica;
  text-align: ;
}
ul {
  font-size: 16pt;
  font-family: "Open Sans", Helvetica;
}
li {
  list-style-type: disc;
  list-style-position: inside;
}
.item-description {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* - - ^ body, all ^ - - */

/* - - - buttons - - - */
.headerButton {
  background-color: transparent;
  display: flex;
  border: none;
  font-family: "Open Sans", Helvetica;
  font-size: 15px;
  color: grey;
  padding: 10px 40px;
  margin: 10px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}
.headerButton:hover {
  cursor: pointer;
  color: white;
  background-color: hotpink;
  opacity: 0.85;
  left: -100px;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
}
@-webkit-keyframes slide {
  100% {
    left: 0;
  }
}
@keyframes slide {
  100% {
    left: 0;
  }
}
/* - - ^ buttons ^ - - */

/* - - - header - - - */
#header {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100vw;
  background: white;
  height: 75px;
  position: fixed;
  z-index: 100;
}
#headerButtons {
  display: flex;
  align-content: space-evenly;
}
/* - - ^ header ^ - - */

/* - - - home - - - */
.hello-parent {
  display: flex;
  background-color: transparent;
  width: 65%;
}
.hello-word {
  margin:auto;
  position: relative;
  display: flex;
  flex-direction: row;
}
/* H Animation */
.H-left-stroke {
  stroke-dasharray: 124px;
  stroke-dashoffset: 124px;
  animation: H-left-move 20s ease forwards;
}
.H-mid-stroke {
  stroke-dasharray: 37px;
  stroke-dashoffset: 37px;
  animation: H-mid-move 9s ease forwards;
}
.H-right-stroke {
  stroke-dasharray: 124px;
  stroke-dashoffset: 124px;
  animation: H-right-move 13s ease forwards;
}
@keyframes H-left-move {
  0% {
    stroke-dashoffset: 124px;
  }
  5% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
@keyframes H-mid-move {
  0% {
    stroke-dashoffset: 37px;
  }
  5% {
    stroke-dashoffset: 37px;
  }
  10% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
@keyframes H-right-move {
  0% {
    stroke-dashoffset: 124px;
  }
  5% {
    stroke-dashoffset: 124px;
  }
  10% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
/* E Animation */
.E-left-stroke {
  stroke-dasharray: 124px;
  stroke-dashoffset: 124px;
  animation: E-left-move 20s ease forwards;
}
.E-top-stroke {
  stroke-dasharray: 47px;
  stroke-dashoffset: 47px;
  animation: E-top-move 10s ease forwards;
}
.E-mid-stroke {
  stroke-dasharray: 42px;
  stroke-dashoffset: 42px;
  animation: E-mid-move 10s ease forwards;
}
.E-bottom-stroke {
  stroke-dasharray: 47px;
  stroke-dashoffset: 47px;
  animation: E-bottom-move 10s ease forwards;
}
@keyframes E-left-move {
  0% {
    stroke-dashoffset: 124px;
  }
  2% {
    stroke-dashoffset: 124px;
  }
  6% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
@keyframes E-top-move {
  0% {
    stroke-dashoffset: 47px;
  }
  6% {
    stroke-dashoffset: 47px;
  }
  11% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
@keyframes E-mid-move {
  0% {
    stroke-dashoffset: 42px;
  }
  8% {
    stroke-dashoffset: 42px;
  }
  13% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
@keyframes E-bottom-move {
  0% {
    stroke-dashoffset: 47px;
  }
  11% {
    stroke-dashoffset: 47px;
  }
  16% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
/* L One Animation */
.L-one-long-stroke {
  stroke-dasharray: 124px;
  stroke-dashoffset: 124px;
  animation: L-one-long-move 20s ease forwards;
}
.L-one-short-stroke {
  stroke-dasharray: 44px;
  stroke-dashoffset: 44px;
  animation: L-one-short-move 10s ease forwards;
}
@keyframes L-one-long-move {
  0% {
    stroke-dashoffset: 124px;
  }
  2% {
    stroke-dashoffset: 124px;
  }
  7% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
@keyframes L-one-short-move {
  0% {
    stroke-dashoffset: 44px;
  }
  13% {
    stroke-dashoffset: 44px;
  }
  18% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
/* L Two Animation */
.L-two-long-stroke {
  stroke-dasharray: 124px;
  stroke-dashoffset: 124px;
  animation: L-two-long-move 20s ease forwards;
}
.L-two-short-stroke {
  stroke-dasharray: 44px;
  stroke-dashoffset: 44px;
  animation: L-two-short-move 10s ease forwards;
}
@keyframes L-two-long-move {
  0% {
    stroke-dashoffset: 124px;
  }
  3% {
    stroke-dashoffset: 124px;
  }
  8% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
@keyframes L-two-short-move {
  0% {
    stroke-dashoffset: 44px;
  }
  15% {
    stroke-dashoffset: 44px;
  }
  20% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
/* O Animation */
.O-stroke {
  stroke-dasharray: 302px;
  stroke-dashoffset: 302px;
  animation: O-move 20s ease forwards;
}
@keyframes O-move {
  0% {
    stroke-dashoffset: 302px;
  }
  4% {
    stroke-dashoffset: 302px;
  }
  9% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
/* Red Dot Animation */
.red-dot {
  stroke-width: 44px;
  stroke-linecap: round;
  animation: red-dot-grow 8s ease-out forwards;
}
@keyframes red-dot-grow {
  0% {
    stroke-width: 0px;
  }
  15% {
    stroke-width: 0px;
  }
  20% {
    stroke-width: 44px;
  }
  100% {
    stroke-width: 44px;
  }
}
#home-landing {
  display: flex;
  flex-direction: row-reverse;
  background-color: transparent;
  width: 100vw;
}
#home-portrait {
  margin-left: -75px;
  margin-bottom: -5px;
  padding-top: 30px;
}
#home-portrait-mobile {
  display: none;
}
#home-text-greeting {
  display: flex;
  justify-self: flex-start;
  align-self: center;
  margin-right: auto;
  z-index: 3;
}
#home-about {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  width: 100vw;
  height: auto;
  color: white;
  background-color: #7e7e7e;
  padding: 20px 50px 20px 50px;
}
#home-skills {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding-left: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
}
#home-call-to-action {
  padding: 20px 50px 20px 50px;
  text-align: center;
  border-top: solid black 3px;
}
.svg-illu {
  position: absolute;
  width: 40%;
  right: 100px;
}
#about-p {
  padding-right: 100px;
}
/* - - ^ home ^ - - */

/* - - - design - - - */
#Design {
  background-color: transparent;
  overflow: hidden;
  position: relative;
  top: 100px;
  margin-bottom: 100px;
}
#design-content {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 20px;
  width: 99vw;
}
#design-content::-webkit-scrollbar {
  width: 2em;
}
#design-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
#design-content::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.designImg {
  align-self: center;
  height: 100%;
  width: auto;
  margin: 5px 15px 5px 15px;
  box-shadow: 5px 5px 10px 2px black;
  cursor: pointer;
  transition: transform 0.2s;
  cursor: unset;
}
.designImg:hover {
  transform: scale(1.1);
  z-index: 10;
  background-color: white;
}

#HollywoodBowl {
  width: 50vw;
}
#alligiance {
  height: 50vh;
}
#heartbay{
  height: 50vh;
}
#destdev {
  height: 50vh;
}
#dest-dev-small {
  height: 50vh;
}
#bloom {
  height: 50vh;
}
#sqlabel {
  height: 50vh;
}
#jennie-poster {
  height: 50vh;
}
#HollywoodBowl1 {
  width: 50vw;
}
#cleanBottleInsta2 {
  height: 60vh;
}
#cleanBottleInsta3 {
  height: 60vh;
}
#custombottles {
  height: 60vh;
}
/* - - ^ design ^ - - */

/* - - - webDev - - - */
#web-dev-container {
  height: fit-content;
}
#web-dev {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  top: 100px;
  margin-bottom: 100px;
}
#park-btv-link {
  text-decoration: none;
  color: white;
  background-color: black;
  cursor: pointer;
  padding: 0px 5px 0px 5px;
  border-radius: 5px;
}
#park-btv-link:hover{
  opacity: .5;
}
#web-dev::-webkit-scrollbar {
  width: 2em;
}
#web-dev::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
#web-dev::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.webdev-thumb {
  margin: 10px;
  box-shadow: 5px 5px 10px 2px black;
  cursor: pointer;
  transition: transform 0.2s;
}
.webdev-thumb:hover {
  transform: scale(1.1)
}

/* - - - top icon, figure out why this overflow is broken - - - */

.modal {
  display: flex;
  background-color: black;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  opacity: .97;
  position: fixed;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#closeModalButton {
  justify-self: center;
  align-self: center;
  z-index: 3;
  width: 125px;
  margin-top: 50px;
  border: solid white 2px;
  border-radius: 10px;
  opacity: 1;
}
.video {
  position: relative;
  justify-self: center;
  align-self: center;
  width: 70%;
  height: 70%;
}
.vidIframe {
  position: absolute;
  justify-self: center;
  align-self: center;
  width: 100%;
  height: 100%;
}
.webdev-thumb {
  cursor: pointer;
  height: auto;
  width: 500px;
}
/* - - ^ webDev ^ - - */

/* - - - footer - - - */
#footer {
  background-color: #7e7e7e;
  display: flex;
  bottom: 0;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 175px;
}
#footerButton {
  background-color: transparent;
  border: none;
  font-weight: 200;
  font-family: Helvetica;
  font-size: 50px;
  margin: 20px;
  border: solid white 1px;
  color: white;
  padding: 5px 20px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}
#footerButton:hover {
  cursor: pointer;
  color: white;
  background-color: hotpink;
  opacity: 0.85;
  z-index: 3;
}
.logo {
  height: 50px;
  width: 50px;
  margin: 0px 25px 0px 25px;
  cursor: pointer;
}
.logo:hover {
  cursor: pointer;
  opacity: 0.5;
}
/* - - ^ footer ^ - - */

/* - - mobile - all - - */
@media screen and (max-width: 600px) {
  #header {
    display: none;
  }
  #footer {
    display: none;
  }
  #home-main {
    display: flex;
    overflow: scroll;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
  }
  .hello-parent {
    display: flex;
    background-color: transparent;
    width: 55%;
  }
  .hello-word {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
  }
  #home-landing {
    height: 35vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
  }
  #home-text-greeting {
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
    margin: auto;
  }
  h1 {
    font-size: 25vw;
    font-family: Helvetica, sans-sarif;
  }
  h2 {
    font-size: 20vw;
    text-align: center;
  }
  h3 {
    padding: 10px;
    font-size: 10vw;
    text-align: center;
  }
  ul {
    font-size: 5vw;
    text-align: center;
  }
  #home-portrait {
    display: none;
  }
  #home-portrait-mobile {
    display: flex;
    height: 30vh;
    align-self: flex-start;
    position: relative;
    animation: fadeInAnimation ease 7s ;
    animation-iteration-count: 1; 
    animation-fill-mode: both;
  }
@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
   } 
} 
  #home-about {
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 100vw;
    color: white;
    background-color: #7e7e7e;
    margin-top: 10px;
  }
  #about-p {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100vw;
    padding: 20px;
    font-size: 16pt;
    font-family: "Open Sans", Helvetica;
  }
  #home-skills {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    width: 100vw;
    padding: 5px 5px 5px 5px;
  }
  #home-call-to-action {
    border-top: solid black 3px;
  }
  /* - - - webDev - - - */
  #web-dev {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: fit-content;
  }
  #web-dev::-webkit-scrollbar {
    display: none;
  }
  #more-on-the-way {
    padding: 20px 0px 80px 0px;
  }
  /* - - - top icon, figure out why this overflow is broken - - - */
  .modal {
    display: flex;
    background-color: black;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    opacity: 0.85;
    position: fixed;
    z-index: 2;
    height: 100vh;
    width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #closeModalButton {
    justify-self: center;
    align-self: center;
    z-index: 3;
    width: 125px;
    margin-top: 50px;
    border-radius: 10px;
  }
  .video {
    position: relative;
    justify-self: center;
    align-self: center;
    width: 90vw;
    height: auto;
  }
  .vidIframe {
    position: absolute;
    justify-self: center;
    align-self: center;
  }
  .webdev-thumb {
    cursor: pointer;
    height: auto;
    width: 90vw;
  }
  /* - - - design - - - */
  #Design {
    background-color: transparent;
  }
  #design-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    overflow-x: scroll; 
  }
  .designImg {
    height: auto;
    margin: 20px 0px 20px 0px;
  }
  #custombottles {
    padding-bottom: 20px;
  }
  
  /* - - - footer - - - */
  #mobile-footer-container {
    display: flex;
    position: fixed;
    bottom: 0px;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 10vh;
    width: 100vw;
    background-color: whitesmoke;
    opacity: 0.9;
    clear: both;
  }
  #mobile-footer-logo-div {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    align-content: center;
  }
  .mobile-footer-logo {
    margin: 0px 5px 0px 5px;
    height: 30px;
    width: 30px;
  }
  .mobile-footer-button {
    background-color: transparent;
    display: flex;
    border: grey solid 2px;
    border-radius: 10px;
    font-family: "Open Sans", Helvetica;
    padding: 10px 7px 15px;
    text-align: center;
    margin: 0px 5px 0px 5px;
    display: inline-block;
    text-decoration: none;
  }
  .mobile-footer-button:active {
    background-color: hotpink;
  }
  .mobile-footer-logo:active {
    background-color: hotpink;
    opacity: 0.2;
  }
  .svg-illu {
    display: none;
  }
}

/* - - - fix overflow x on web dev and top margin on web dev -- */
