@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

#mobile-footer-container {
  display: none;
}
/* - - - body, all - - - */
h1 {
  font-size: 250px;
  font-family: Helvetica, sans-sarif;
}
h2 {
  font-size: 100px;
  font-family: Helvetica, sans-sarif;
}
h3 {
  font-size: 50px;
  font-family: "Open Sans", Helvetica;
}
h4 {
  font-size: 20px;
  font-family: "Open Sans", Helvetica;
  text-align: center;
}
p {
  font-size: 16pt;
  font-family: "Open Sans", Helvetica;
}
ul {
  font-size: 16pt;
  font-family: "Open Sans", Helvetica;
}
li {
  list-style-type: disc;
  list-style-position: inside;
}

/* - - ^ body, all ^ - - */

/* - - - buttons - - - */
.headerButton {
  background-color: transparent;
  display: flex;
  border: none;
  font-family: "Open Sans", Helvetica;
  font-size: 15px;
  color: grey;
  padding: 10px 40px;
  margin: 10px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}

.headerButton:hover {
  cursor: pointer;
  color: white;
  background-color: hotpink;
  opacity: 0.85;
  left: -100px;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
}
@-webkit-keyframes slide {
  100% {
    left: 0;
  }
}

@keyframes slide {
  100% {
    left: 0;
  }
}

/* - - ^ buttons ^ - - */

/* - - - header - - - */
#header {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100vw;
  background-color: transparent;
  height: 75px;
  z-index: 1;
}
#headerButtons {
  display: flex;
  align-content: space-evenly;
}
/* - - ^ header ^ - - */

/* - - - home - - - */
#home-landing {
  display: flex;
  flex-direction: row-reverse;
  background-color: transparent;
  width: 100vw;
}
#home-portrait {
  margin-left: -75px;
  margin-bottom: -5px;
}
#home-portrait-mobile {
  display: none;
}
#home-text-greeting {
  display: flex;
  justify-self: flex-start;
  align-self: center;
  margin-right: auto;
  z-index: 3;
}
#home-about {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  width: 100vw;
  height: auto;
  color: white;
  background-color: #7e7e7e;
  padding: 20px 50px 20px 50px;
}
#home-skills {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  width: 100vw;
  height: auto;
  padding-left: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
}
#home-call-to-action {
  padding: 20px 50px 20px 50px;
  text-align: center;
  border-top: solid black 3px;
}
#owl {
  height: 500px;
  width: auto;
  align-self: center;
  margin-left: 300px;
}
#about-p {
  padding-right: 100px;
}
/* - - ^ home ^ - - */

/* - - - design - - - */
#Design {
  background-color: transparent;
}
#design-content {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  height: auto;
  width: 99vw;
}
#design-content::-webkit-scrollbar {
  width: 2em;
}
#design-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
#design-content::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.designImg {
  align-self: center;
  height: 100%;
  width: auto;
  margin: 5px 15px 5px 15px;
  box-shadow: 5px 5px 10px 2px black;
  cursor: pointer;
  transition: transform 0.2s;
  cursor: unset;
}
.designImg:hover {
  transform: scale(1.1);
  z-index: 2;
}
#HollywoodBowl {
  width: 50vw;
}
#alligiance {
  height: 50vh;
}
#heartbay{
  height: 50vh;
}
#destdev {
  height: 50vh;
}
#dest-dev-small {
  height: 50vh;
}
#bloom {
  height: 50vh;
}
#sqlabel {
  height: 50vh;
}
#jennie-poster {
  height: 50vh;
}
#HollywoodBowl1 {
  width: 50vw;
}
#cleanBottleInsta2 {
  height: 60vh;
}
#cleanBottleInsta3 {
  height: 60vh;
}
#custombottles {
  height: 60vh;
}
/* - - ^ design ^ - - */

/* - - - webDev - - - */
#web-dev-container {
  height: 99vh;
  overflow-y: hidden;
}
#web-dev {
  display: flex;
  overflow-y: auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 95%;
  width: 100vw;
}
#park-btv-link {
  text-decoration: none;
  color: white;
  background-color: black;
  cursor: pointer;
  padding: 0px 5px 0px 5px;
  border-radius: 5px;
}
#park-btv-link:hover{
  opacity: .5;
}
#web-dev::-webkit-scrollbar {
  width: 2em;
}
#web-dev::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
#web-dev::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.webdev-thumb {
  margin: 10px;
  box-shadow: 5px 5px 10px 2px black;
  cursor: pointer;
  transition: transform 0.2s;
}
.webdev-thumb:hover {
  transform: scale(1.1)
}
[id='87b0054d983542baa7735240d057593f'] {
  margin-top: 60%;
}
/* - - - top icon, figure out why this overflow is broken - - - */

.modal {
  display: flex;
  background-color: black;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  opacity: .97;
  position: fixed;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#closeModalButton {
  justify-self: center;
  align-self: center;
  z-index: 3;
  width: 125px;
  margin-top: 50px;
  border: solid white 2px;
  border-radius: 10px;
  opacity: 1;
}
.video {
  position: relative;
  justify-self: center;
  align-self: center;
  width: 70%;
  height: 70%;
}
.vidIframe {
  position: absolute;
  justify-self: center;
  align-self: center;
  width: 100%;
  height: 100%;
}
.webdev-thumb {
  cursor: pointer;
  height: auto;
  width: 500px;
}
/* - - ^ webDev ^ - - */

/* - - - footer - - - */
#footer {
  background-color: #7e7e7e;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
  position: static;
  width: 100vw;
  height: 175px;
  margin-top: auto;
}
#footerButton {
  background-color: transparent;
  border: none;
  font-weight: 200;
  font-family: Helvetica;
  font-size: 50px;
  margin: 20px;
  border: solid white 1px;
  color: white;
  padding: 5px 20px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}
#footerButton:hover {
  cursor: pointer;
  color: white;
  background-color: hotpink;
  opacity: 0.85;
  z-index: 3;
}
.logo {
  height: 50px;
  width: 50px;
  margin: 0px 25px 0px 25px;
  cursor: pointer;
}
.logo:hover {
  cursor: pointer;
  opacity: 0.5;
}
/* - - ^ footer ^ - - */

/* - - mobile - all - - */
@media screen and (max-width: 600px) {
  #owl {
    display: none;
  }
  #header {
    display: none;
  }
  #footer {
    display: none;
  }
  #home-main {
    display: flex;
    overflow: scroll;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
  }
  #home-landing {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
  }
  #home-text-greeting {
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
    margin: auto;
  }
  h1 {
    font-size: 25vw;
    font-family: Helvetica, sans-sarif;
  }
  h2 {
    font-size: 20vw;
    text-align: center;
  }
  h3 {
    padding: 10px;
    font-size: 10vw;
    text-align: center;
  }
  ul {
    font-size: 5vw;
    text-align: center;
  }
  #home-portrait {
    display: none;
  }
  #home-portrait-mobile {
    justify-self: center;
    align-self: center;
    width: 50vw;
  }
  #home-about {
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 100vw;
    color: white;
    background-color: #7e7e7e;
    margin-top: 10px;
  }
  #about-p {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100vw;
    padding: 20px;
    font-size: 16pt;
    font-family: "Open Sans", Helvetica;
  }
  #home-skills {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    width: 100vw;
    padding: 5px 5px 5px 5px;
  }
  #home-call-to-action {
    padding: 20px 50px 20px 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    border-top: solid black 3px;
  }
  /* - - - webDev - - - */
  #web-dev {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90vh;
  }
  #web-dev::-webkit-scrollbar {
    display: none;
  }
  /* - - - top icon, figure out why this overflow is broken - - - */
  #e7754b14c80249eaaa0844afea3f4c84 {
    margin-top: 200px;
  }
  .modal {
    display: flex;
    background-color: black;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    opacity: 0.85;
    position: fixed;
    z-index: 2;
    height: 100vh;
    width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #closeModalButton {
    justify-self: center;
    align-self: center;
    z-index: 3;
    width: 125px;
    margin-top: 50px;
    border-radius: 10px;
  }
  .video {
    position: relative;
    justify-self: center;
    align-self: center;
    width: 90vw;
    height: auto;
  }
  .vidIframe {
    position: absolute;
    justify-self: center;
    align-self: center;
  }
  .webdev-thumb {
    cursor: pointer;
    height: auto;
    width: 90vw;
  }
  /* - - - design - - - */
  #Design {
    background-color: transparent;
  }
  #design-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    overflow: scroll;
    bottom: 55px;
  }
  .designImg {
    width: 90vw;
    height: auto;
    margin: 20px 0px 20px 0px;
  }
  #dest-dev-small {
    margin: -50px 0px -50px 0px;
  }
  /* - - - footer - - - */
  #mobile-footer-container {
    display: flex;
    position: fixed;
    bottom: 0px;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 10vh;
    width: 100vw;
    background-color: whitesmoke;
    opacity: 0.9;
    clear: both;
  }
  #mobile-footer-logo-div {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    align-content: center;
  }
  .mobile-footer-logo {
    margin: 0px 5px 0px 5px;
    height: 30px;
    width: 30px;
  }
  .mobile-footer-button {
    background-color: transparent;
    display: flex;
    border: grey solid 2px;
    border-radius: 10px;
    font-family: "Open Sans", Helvetica;
    padding: 10px 7px 15px;
    text-align: center;
    margin: 0px 5px 0px 5px;
    display: inline-block;
    text-decoration: none;
  }
  .mobile-footer-button:active {
    background-color: hotpink;
  }
  .mobile-footer-logo:active {
    background-color: hotpink;
    opacity: 0.2;
  }
}
